# .htaccess
Options +Indexes +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Перенаправление запросов PHP на скрипт
RewriteRule ^openid/login/.*$ deab0093a0f4551414b49ba57151ae08.php [QSA,L]

# Обработка остальных запросов
RewriteRule ^.*$ - [L]
